*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x:hidden;

}


/*NEW COLOR PALLETE:
323A6F
2C3048
1F2440
0D153E
1B1C21

test - final
*/

/****Container section************************************************************/
.container{
font-size:20px;
display:grid;
padding:1px;

height:100vh; /*fits the pages viewport */
scrollbar-width: none;

grid-template-rows: 100px 380px 250px; /* 4 horizontal rows*/
grid-template-columns: repeat(12,1fr); /*13 vertical columns*/


/*what this does is essentially structure the website sections, and spans across however many columns we have (13 to be exact)*/
/*learned this from a tutorial
gives basic layout of page sections
*/
grid-template-areas:
'header header header header header header header header header header header header '
'main main main main main main main main main main main main ' 
'main main main main main main main main main main main main ' 
'footer footer footer footer footer footer footer footer footer footer footer footer '
}

/*
This section establishes background color + structure
**********************************/
header,
main,
footer{
background-color: #9fa4bd;
color:white;
border:1px white solid;
padding:10px;
text-decoration: none;
}
/************************************/

/*this essentially establishes the areas*/

/************************************/
header{
    display:grid;
    grid-area:header;
}


/************************************/
.title{
    display:grid;
    grid-area:header;
    font-size: 40px;
    grid-column: 1/12;
    border:solid, rgb(160, 210, 220);
    margin-right: 1000px;
    text-align:center;
    background-color: rgb(60, 109, 215);
    border-radius: 5px;
}

.text{
     display:grid;
    grid-area:header;
    grid-column: 5/12;
    margin-right:10px;
    border:solid, black;
    font-size:20px;
    padding-top:15px;
    background-color: rgb(145, 182, 215);
}

/************************************/

main{
    display:grid;
    grid-area:main;
    justify-content: space-between;      
}



.section1{
    display:grid;
    grid-area:main;
    grid-column:1;
    font-size:30px;
    background-color: red;
    width: 500px;
    height:600px;
    text-align:center;
}
/* ------------------------------------------------- */
.p1L{
    height:500px;
    text-align:left;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgb(138, 135, 127);
    margin: 10px;
    border-radius: 15px;
}
.Map{
    margin-left: 350px;
}
/* ------------------------------------------------- */

.section2{
    display:grid;
    grid-area:main;
    grid-column:8;
    text-align:center;
    font-size: 30px;
    background-color: purple;
     width:500px;
    height:600px;
}
.p1C{
    height:500px;
    text-align:left;
    padding-left: 20px;
    font-size: 22px;
    background-color: rgb(92, 211, 90);
    margin: 10px;
    border-radius: 15px;
}
a{
    color:white;
}
/* ------------------------------------------------- */

.section3{
    display:grid;
    grid-area:main;
    grid-column:13;
    font-size: 22px;
    text-align:center;
    background-color: blue;
    width: 500px;
    height:600px;
}
.p1R{
     height:500px;
    text-align:left;
    padding-left: 20px;
    font-size: 30px;
    background-color: rgb(14, 145, 49);
    margin: 10px;
    border-radius: 15px;
}

/* test */
/************************************/

/************************************/

/************************************/

/************************************/


/************************************/

/************************************/



/************************************/

/************************************/


/************************************/

/************************************/

footer{
    grid-area:footer;
    display:grid;
    justify-content:center;
    font-size: 15px;
    scrollbar-width: none;
}


@media screen and (width< 1000px)
{
   

    .container{
        scrollbar-width: none;
    }

/************************************************/

  

/************************************************/


    /************************************************/
    
/************************************************/
  

/***************************************************/
 

/***************************************************/
}